body{
    font-family: 'Times New Roman', Times, serif;
}
site-heading-lower{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.mb-3{
    font-family: 'Comic Sans MS';
    color:yellow !important
}
